/*darkmode*/
#themeButton {
  padding: 6px 10px;
  border: none;
  cursor: pointer;
  background-color: #00a693;
  color: #fff;
  font-size: 14px;
  border-radius: 6px;
  }
  #themeButton:hover {
    background-color: #007e67;
    }
.dark-mode {
    background-image: url("images/darkbg.jpeg");
  color:whitesmoke
  }

  .dark-mode .navbar {

    background: #031c2f;
}

.dark-mode li a {
  
    color: rgb(255, 255, 255);
  }

.dark-mode .course {
  
    background-color: rgb(31, 37, 103);
    box-shadow: 0 0 15px rgb(6, 1, 53);
}

.dark-mode .breadcrumb {
   
    background-color: #031c2f;
   
	border: 1px solid #BDBBBB;
    border-top: 1px solid #BDBBBB;
    border-bottom: 1px solid #BDBBBB;
    
}


.dark-mode .user-review{
   
    background: #052a46;
}


.dark-mode footer { 
   
    background-color:#173a55; 
  }


  .dark-mode .vision{
   
   background:  rgba(16, 79, 127, 0.6);
  
}

.dark-mode #themeButton {
    background-color: #333;
    color: #fff;
  }
  
  .dark-mode #themeButton:hover {
    background-color: #555;
  }

  .dark-mode footer a {
    color:lightgrey;
  }
  .dark-mode .breadcrumb a {
    color:lightgrey;
  }